/* font poppins medium 500 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
/* first part */
body{
    font-family: 'Poppins', sans-serif;
}
.first-part{
    display: flex;
    background-color: rgb(13, 13, 99);
}
.heading{
    padding-left: 100px;
}
.heading h1{
    
    font-size: 64px;
    color: #FFFFFF;
}
.heading h1:hover{
    /* transition: width 10s linear 5s; */
    /* transform: rotate(-60deg); */
    transform: scale(.5);
    transition: transform 2s ease-in;
}
.link-button{
    background-image: linear-gradient(#E02C6D,red);
    padding: 10px 24px; 
    border: 5px;
    font-weight: 700;
    color: white;
    text-decoration: none;

}
.first-img img{
    padding-top: 70px;
    padding-left: 100px;
    height: 400px;
    width: 400px;
}

/* second part */
.players{
    margin-top: 70px;
    margin-left: 80px;
}
.players-article{
    display: grid;
    grid-template-columns: repeat(3,330px);
      grid-column-gap: 40px;  
}
.player-article{
    width: 320px;
    height: 500px;
    padding: 15px; 
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     /* margin: 5px;  */
     margin-bottom: 27px;
     margin-right: 100px;
}
.player-image img{
    width: 320px;
    height: 300px;
}
.player-info p{
    font-size: 16px;
    color: #6C6C6C;
}
..player-info h2{
    font-size: 28px;
}

/* third part ----high-lights */
.third-part{
    margin-top: 100px;
    margin-left: 80px;
    margin-bottom: 100px;
}
.high-light{
    display: flex;
}
.left{
    width: 469px;
    height: 309px;
}
.left h1{
    font-size: 48px;
}
.left p{
    font-size: 16px;
    color: #6C6C6C;
}
.right img{
    margin-left: 70px;
    width: 500px;
    height: 400px;
}

/* last part --footer */
.last-part{
    /* align-items: center; */
    text-align: center;
}
.last-part img{
    width: 483px;
    height: 110px;
    /* align-items: center;
    align-content: center; */
}
.last-part p{
    font-size: 18px;
}
